.navbar {
  background-color: black; /* Set background color to black */
  top: 0;
  width: 100%;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.nav-link {
  color: white !important; /* Set text color to white */
  transition: all 0.3s ease; /* Add smooth transition */
}

.nav-link.active,
.nav-link:hover {
  color: black !important; /* Set text color to black */
  background-color: #fff !important; /* Background color change */
  border-radius: 2px;
}

.navbar-brand {
  color: white !important; /* Set text color to white */
}

.navbar-toggler-icon {
  color: white !important; /* Set text color to white */
}

@media (max-width: 786px) {
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-item .nav-link {
    text-align: left;
    padding-left: 1rem;
  }
}
